<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>    
  <node name="republish_left" type="republish" pkg="image_transport" output="screen" args="compressed in:=/left/raspicam_node/image raw out:=/stereo/left/image_raw" />
  <node name="republish_right" type="republish" pkg="image_transport" output="screen" args="compressed in:=/right/raspicam_node/image raw out:=/stereo/right/image_raw" />

  <!--node ns="/stereo/left" pkg="image_proc" name="image_proc" type="image_proc" output="screen">
	  <remap from="/stereo/left/camera_info" to="/left/raspicam_node/camera_info"/>
  </node-->

  <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
    <!--remap from="left/image_raw" to="left/image"/>
    <remap from="right/image_raw" to="right/image"/-->
    <remap from="right/camera_info" to="/right/raspicam_node/camera_info" />
    <remap from="left/camera_info" to="/left/raspicam_node/camera_info" />
    <param name="approximate_sync" value="True" />
    <param name="queue_size" value="10" />
  </node>

  <node pkg="image_view" type="stereo_view" name="stereo_view" output="screen">
	  <remap from="/stereo/left/image" to="/stereo/left/image_raw"/>
	  <remap from="/stereo/right/image" to="/stereo/right/image_raw"/>
    <param name="approximate_sync" value="True" />
    <param name="queue_size" value="10" />
    <remap from="stereo" to="stereo" />
    <remap from="image" to="image_rect_color" />
  </node>
</launch>
